<footer class="flex flex-row w-fit mx-auto my-12 font-open-sans text-base">
  <img src="/images/logo-cyu-couleur.svg" alt="Logo" class="pr-3 border-r-1 border-[#707070]" width="200">
  <div class="flex flex-col my-auto pl-3 h-fit text-[#707070]">
    <p>Certains textes sont issus de Wikipédia</p>
    <p>
      <a href="https://fr-fr.facebook.com/CYCergyParisUniversite/" class="text-[#0066FF] underline" target="_blank">Facebook</a>
      <a href="https://twitter.com/universitecergy?lang=fr" class="text-[#0066FF] underline" target="_blank">Twitter</a>
      <a href="https://www.cyu.fr/" class="text-[#0066FF] underline pr-3 border-r-1 border-[#707070]" target="_blank">Université CY Paris Université</a>
      <a href="#" class="pl-2">Remonter</a>
    </p>
    <p>© 2013–2026 - BUT MMI - CY Paris Université - SAE 105</p>
  </div>
</footer>